* {
  margin: 0px;
}
:root {
  font-family: Alice, serif;
  font-size: 17px;
  line-height: 150%;
  color: #573A37;
}
body {
  background-color: #5f2703;
  background-image: url(../assets/bg-image.png);
  background-size: cover;
}
body main #page {
  background-color: #F0E8C2;
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  margin: 48px auto;
  border-radius: 24px;
}
body main #page h1 {
  font-size: 40px;
}
body main #page h2 {
  font-size: 24px;
}
body main #page h1,
body main #page h2 {
  color: #291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}
body main #page img {
  border-radius: 16px;
  width: 752px;
}
body main #page #content {
  margin-top: 24px;
}
body main #page #content p + p {
  margin-top: 12px;
}
body main #page #content section + section {
  margin-top: 24px;
}
body main #page #content #ingredients ul {
  padding-left: 24px;
}
body footer {
  color: #F0E8C2;
  text-align: center;
  padding-bottom: 48px;
}
