@color-merge : #5f2703

:root {
  font-family: 'Alice', serif;
  line-height: 150%;
  color: #573A37;
}
body {
  background-color: #5f2703;
  background-image: url('../assets/bg-image.png');
  background-size: cover;
}
body main {
  padding: 24px;
}
body main #page {
  background: #F0E8C2;
  border-radius: 24px;
  box-sizing: border-box;
  margin: 48px auto;
  padding: 24px;
  width: 800px;
}
body main #page h1,
body main #page h2 {
  color: #291B1A;
}
body main #page h1 {
  line-height: 140%;
  font-size: 40px;
  margin-bottom: 4px;
}
body main #page h2 {
  font-size: 24px;
}
body main #page #image img {
  border-radius: 16px;
}
body main #page #about p + p {
  margin-top: 12px;
}
